<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API</title>
  <style>
    .title {
      color: white;
      padding: 10px;
    }

    .subtitle {
      text-indent: 10px;
      width: 100%;
    }
  </style>
</head>

<body>
  <p> <center><font size="+2">Student API documentation</font></center></p>
  <table border="0" cellspacing="0" cellpadding="10" style="border-spacing: 0 10px;">
    <tr>
      <td style="background-color: blue;" class="title">GET</td>
      <td style="background-color: lightblue; " class="subtitle">/api</td>
    </tr>
    <tr>
      <td style="background-color: blue;" class="title">GET</td>
      <td style="background-color: lightblue; " class="subtitle">/api/students</td>
    </tr>
    <tr>
      <td style="background-color: green;" class="title">POST</td>
      <td style="background-color: lightgreen; " class="subtitle">/api/students/add</td>
    </tr>
    <tr>
      <td style="background-color: blue;" class="title">GET</td>
      <td style="background-color: lightblue; " class="subtitle">/api/students/get/{id}</td>
    </tr>
    <tr>
      <td style="background-color: orange;" class="title">PUT</td>
      <td style="background-color:lightsalmon;" class="subtitle">/api/students/change/{id}</td>
    </tr>
    <tr>
      <td style="background-color: orange;" class="title">PATCH</td>
      <td style="background-color: lightpink;" class="subtitle">/api/students/modify/{id}</td>
    </tr>
    <tr>
      <td style="background-color: chocolate;" class="title">DELETE</td>
      <td style="background-color: lightcoral; " class="subtitle">/api/students/delete/{id}</td>
    </tr>
    <tr>
      <td style="background-color: blue;" class="title">GET</td>
      <td style="background-color: lightblue; " class="subtitle">/api/health-check/ok</td>
    </tr>
    <tr>
      <td style="background-color: blue;" class="title">GET</td>
      <td style="background-color: lightblue; " class="subtitle">/api/health-check/bad</td>
    </tr>
  </table>
</body>

</html>

